.DS_Store
node_modules
/build
/.svelte-kit/build
/.svelte-kit/output
/.svelte-kit/generated
/.svelte-kit/types
/package
.env
.env.*
!.env.example
*.todo
/diagrams
src/.vscode/settings.json
.vscode/settings.json
